@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* font-family: "Inter"; */
  font-family: "Poppins";
  /* font-family: 'Times New Roman', Times, serif; */
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --bg-color-1: #FFFF;
  --bg-color-2: #f9f6f0;
  --heading-color: #2c2c2c;
  --text-color: #353535;
  /* --font-family-1: 'roboto', sans-serif;
  --font-family-2: 'cookie', sans-serif; */
}

h1 {
  font-size: 48px;
  font-weight: normal;
  color: var(--heading-color);
  /* line-height: 1.2; */
}

h2 {
  color: var(--heading-color);
  font-size: 35px;
}

/* h3{
  font-size: 34px;
  color: var(--heading-color);
  line-height: 24px;
} */
/* h4{
  line-height: 1.8;
  color: var(--heading-color);
  font-size: 24px;
}
h5{
  color: var(--heading-color);
  font-size: 20px;
} */
p {
  /* font-family: Helvetica; */
  /* padding: 5px 0; */
  font-weight: normal;
  font-size: 14px;
  /* line-height: 28px; */
  font-style: normal;
  color: var(--text-color);

}

.container {
  max-width: 1240px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  border: 1px solid rgb(68, 46, 46);
}

#header{
  height: 100%;
  width: 100%;
  border: 5px solid black;
}

#hero {

  /* padding: 10px 10px; */
  /* background-image: url("IMG/hero.jpg"); */
  /* background-image: url("vid/Black\ Hexagon\ Background\ Seamless\ Loop.mp4"); */
  position: relative;
  /* background-position: center;
  background-size: cover; */
  height: 100%;
  width: 100%;
  /* border: 5px solid red; */
}
video{
  position: absolute;
  /* top: 0; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* z-index: 2; */
}

.hero-heading{
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  position: absolute;
  width: 55%;
  top: 35%;
  left: 5%;
  /* font-weight: bolder; */
  /* border: 1px solid black; */
  z-index: 100;
}
.hero-wrap{
display: flex;
flex-direction: column;
row-gap: -20px;
}
.hero-heading p{
  margin-top: 0px;
  font-size: medium;
  color: white;
}
.hero-heading h1{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero-heading h2{
  font-weight: 500;
  margin-top: -2px;
  color: white;
}
.document{
  display: flex;
  flex-direction: row;
  
  column-gap: 10px;
  margin-top: 30px;
  height: 30px;
  width: 250px;
}
.document div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 120px;
  background-color: #fff;
  border-radius: 5px;
}
.document div a{
  /* display: table-cell;
  vertical-align: middle; */
  color: black;
}
.document div:hover{
background-color: #514e4e;
}
.auto-type{
  color: yellow;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* background-color: #8EC5FC; */
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

  width: 100%;
  height: 90px;
  border-radius: 15px;
  position: relative;
  top: 10px;
  /* border: 3px solid rgb(232, 23, 23); */
}
.nav-right{
  display: flex;
  column-gap: 15px;
}
.nav-right p:hover{
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.nav-right i:hover{
  cursor: pointer;
}
.fixed {
  position: fixed;
  z-index: 100;
  margin-top: 0px;
  top: 0;
  width: 91.8%;

}

.nav-list {
  display: flex;
  column-gap: 30px;

}
.nav-list li a{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
  color: rgb(54, 52, 52);
}
.nav-list li a:hover{
  color: rgb(92, 89, 89);
  /* border-bottom: 2px solid black; */
}
.nav-list li a::after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}
.nav-list li a:hover:after{
  width: 100%;
}

.cube-container {
  width: 50px;
  height: 50px;
  position: relative;
  perspective: 800px;
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotateCube 15s linear infinite;
  /* animation-play-state: paused; */
}

.face {
  width: 50px;
  height: 50px;
  position: absolute;
  /* background-color: rgba(247, 245, 244, 0.451); */
  background-color: white;
  border: 1px solid #000;
}

.face img {
  height: 100%;
  width: 100%;
}

.back img {
  transform: rotate(180deg);
}

.front {
  transform: translateZ(25px);
}

.back {
  transform: rotateY(180deg) translateZ(25px);
}

.left {
  transform: rotateY(-90deg) translateZ(25px);
}

.right {
  transform: rotateY(90deg) translateZ(25px);
}

.top {
  transform: rotateX(90deg) translateZ(25px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(25px);
}

@keyframes rotateCube {
  0% {
    transform: rotateX(0) rotateY(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(720deg);
  }
}



/* @keyframes anime {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(calc(0% - 70px*4 - 60px));
    Adjust for number of cards
  }

}  */


.logo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 165px;
  right: -20px;
  z-index: 5;
}

.rotation {
  display: flex;
  justify-content: center;
  align-items: center;

}

.img {
  position: absolute;
}

.img img {
  height: 280px;
  width: 280px;
  border-radius: 50%;
}


/* About section start  */
#about {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  height: 80%;
  width: 100%;
  background-image: url("IMG/about.jpg");
  /* background-image: url("https://source.unsplash.com/random/900x700/?fruit"); */
  background-size: cover;
  /* border: 1px solid black; */
  margin: 20px 0;
}

.about-main-heading {
  color: rgb(238, 226, 226);
}

.about p{
  color: white;
}
.about h3{
  color: white;
}
.about-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: 100%;
  width: 60%;
  /* border: 1px solid black; */
}

.left-sec-top {
  height: 60%;
  width: 100%;
  /* border: 1px solid black; */
  background: rgba(255, 255, 255, 0.10);
  border-radius: 10px;
  padding: 10px;
}

.left-sec-bottom {
  display: flex;
  /* padding: 10px; */
  gap: 10px;
  height: 40%;
  width: 100%;
  /* border: 1px solid black; */
}

.left-sec-bottom-1 {
  height: 100%;
  width: 50%;
  /* border: 1px solid black; */
  padding: 10px;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 10px;

}

.left-sec-bottom-2 {
  height: 100%;
  width: 50%;
  /* border: 1px solid black; */
  padding: 10px;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 10px;

}

.about-right {
  height: 95%;
  width: 40%;
  background-image: url("IMG/html-code-bg.jpeg");

  background-size: cover;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  border-radius: 10px;
  border: 5px solid rgb(126, 218, 246);
}
.about-right-1{
  height: 100%;
  width: 100%;
  background-image: url("https://source.unsplash.com/random/900x700/?coding, html, css");

}

/* About section end */


/* skill section start  */
#skill {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 160%;
  width: 100%;
  /* border: 1px solid black; */
  padding: 5px;
  /* margin-bottom: 20px; */
  /* background-color: rgb(242, 238, 238); */
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898; */
  background-image: url(IMG/skill-bg.jpg);
  background-size: cover;
}
.skill h2{
  color: white;
}
.skill-main-heading {
  text-align: center;
  border-bottom: 1px solid black;
  border-bottom: 1px solid black;
  width: 50%;
  margin: 0 auto;
  color: white;
}

.frontend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 33.33%;
  width: 100%;
  /* border: 1px solid black; */
}

.backend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 33.33%;
  width: 100%;
  /* border: 1px solid black; */
}

.english {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 33.33%;
  width: 100%;
  /* border: 1px solid black; */
}

.skill-card {
  /* position: relative; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: linear-gradient(top,red, black); */
  background-image: linear-gradient(rgba(82, 103, 223, 0.768),rgba(195, 195, 39, 0.842));
}

.percent {
  position: absolute;
}

.skill-name {
  position: relative;
  text-align: center;
  font-size: medium;
  /* bottom: 0; */
  /* left: 50px; */
}

.skill-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}

svg {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 115px;
  width: 150px;
  /* border: 1px solid black; */
}

.track {
  stroke-width: 2;
  stroke: lightgrey;
  fill: none;
}
 /* for first skill container  */
.progress1{
  stroke-width: 5;
  stroke: black;
  /* stroke-linecap: round; */
  fill: none;

  stroke-dasharray: 190;
  stroke-dashoffset: 8.5;  /* farmula (190*(100 - percent))/100 == 8.5 */

  /* animation: anime-skill 5s linear; */

}

.new {
  animation: anime-skill 5s linear;

}

@keyframes anime-skill {
  0% {
    stroke-dashoffset: 190;
  }

  100% {
    stroke-dashoffset: 8.5;
  }
}

.progress2{
  stroke-width: 5;
  stroke: black;
  /* stroke-linecap: round; */
  fill: none;

  stroke-dasharray: 190;
  stroke-dashoffset: 8.5;
  /* animation: anime-skill 5s linear; */

}

.new {
  animation: anime-skill 5s linear;

}

@keyframes anime-skill {
  0% {
    stroke-dashoffset: 190;
  }

  100% {
    stroke-dashoffset: 8.5;
  }
}

.progress3{
  stroke-width: 5;
  stroke: black;
  fill: none;

  stroke-dasharray: 190;
  stroke-dashoffset: 28.5;

}

.new3 {
  animation: anime-skill-3 5s linear;

}

@keyframes anime-skill-3 {
  0% {
    stroke-dashoffset: 190;
  }

  100% {
    stroke-dashoffset: 28.5;
  }
} 

.progress4{
  stroke-width: 5;
  stroke: black;
  /* stroke-linecap: round; */
  fill: none;

  stroke-dasharray: 190;
  stroke-dashoffset: 38;
  /* animation: anime-skill 5s linear; */

}

.new4 {
  animation: anime-skill-4 5s linear;

}

@keyframes anime-skill-4 {
  0% {
    stroke-dashoffset: 190;
  }

  100% {
    stroke-dashoffset: 38;
  }
}

/* for second skill container  */
.progress5{
  stroke-width: 5;
  stroke: black;
  /* stroke-linecap: round; */
  fill: none;

  stroke-dasharray: 190;
  stroke-dashoffset: 76;
  /* animation: anime-skill-5 5s linear; */

}

.new5{
  animation: anime-skill-5 5s linear;

}

@keyframes anime-skill-5 {
  0% {
    stroke-dashoffset: 190;
  }

  100% {
    stroke-dashoffset: 76;
  }
}

.progress6{
  stroke-width: 5;
  stroke: black;
  /* stroke-linecap: round; */
  fill: none;

  stroke-dasharray: 190;
  stroke-dashoffset: 28.5;
  /* animation: anime-skill-6 5s linear; */

}

.new6 {
  animation: anime-skill-6 5s linear;

}

@keyframes anime-skill-6 {
  0% {
    stroke-dashoffset: 190;
  }

  100% {
    stroke-dashoffset: 28.5;
  }
}

.progress7{
  stroke-width: 5;
  stroke: black;
  fill: none;

  stroke-dasharray: 190;
  stroke-dashoffset: 38;
  /* animation: anime-skill-7 5s linear; */

}

.new7 {
  animation: anime-skill-7 5s linear;

}

@keyframes anime-skill-7 {
  0% {
    stroke-dashoffset: 190;
  }

  100% {
    stroke-dashoffset: 38;
  }
} 

.progress8{
  stroke-width: 5;
  stroke: black;
  /* stroke-linecap: round; */
  fill: none;

  stroke-dasharray: 190;
  stroke-dashoffset: 76;
  /* animation: anime-skill-8 5s linear; */

}

.new8 {
  animation: anime-skill-8 5s linear;

}

@keyframes anime-skill-8 {
  0% {
    stroke-dashoffset: 190;
  }

  100% {
    stroke-dashoffset: 76;
  }
}

.progress9{
  stroke-width: 5;
  stroke: black;
  /* stroke-linecap: round; */
  fill: none;

  stroke-dasharray: 190;
  stroke-dashoffset: 3;
  /* animation: anime-skill-9 5s linear; */

}

.new9 {
  animation: anime-skill-9 5s linear;

}

@keyframes anime-skill-9 {
  0% {
    stroke-dashoffset: 190;
  }

  100% {
    stroke-dashoffset: 3;
  }
}

.progress10{
  stroke-width: 5;
  stroke: black;
  /* stroke-linecap: round; */
  fill: none;

  stroke-dasharray: 190;
  stroke-dashoffset: 19;
  /* animation: anime-skill-10 5s linear; */

}

.new10 {
  animation: anime-skill-10 5s linear;

}

@keyframes anime-skill-10 {
  0% {
    stroke-dashoffset: 190;
  }

  100% {
    stroke-dashoffset: 19;
  }
}

.progress11{
  stroke-width: 5;
  stroke: black;
  /* stroke-linecap: round; */
  fill: none;

  stroke-dasharray: 190;
  stroke-dashoffset: 19;
  /* animation: anime-skill-11 5s linear; */

}

.new11 {
  animation: anime-skill-11 5s linear;

}

@keyframes anime-skill-11 {
  0% {
    stroke-dashoffset: 190;
  }

  100% {
    stroke-dashoffset: 19;
  }
}

.progress12{
  stroke-width: 5;
  stroke: black;
  /* stroke-linecap: round; */
  fill: none;

  stroke-dasharray: 190;
  stroke-dashoffset: 57;
  /* animation: anime-skill12 5s linear; */

}

.new12 {
  animation: anime-skill-12 5s linear;

}

@keyframes anime-skill-12 {
  0% {
    stroke-dashoffset: 190;
  }

  100% {
    stroke-dashoffset: 57;
  }
}

/* skill section End  */

/* Service section start  */
#service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("IMG/serv-bg.jpg");
  gap: 30px;
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  margin: 20px 0;
}

.service .serv-head {
  text-align: center;
}

.service .serv-head span {
  font-size: 0.9rem;
}

.service-card-container {
  display: grid;
  gap: 25px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.serv-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  background-color: #fff;
  height: 150px;
  width: 250px;
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  padding-top: 35px;
}

.serv-card img {
  top: -15px;
  left: 15px;
  position: absolute;
  height: 40px;
  background-color: black;
  border-radius: 5px;
}

/* Service section end  */

/* ongoing sectin start  */
#ongoing{
  height: 85%;
  width: 100%;
  /* border: 1px solid black; */
  background-image: url("IMG/ongoing-bg.jpg");
  background-size: cover;

}
.ongoing-top{
  text-align: center;
  height: 30%;
  width: 60%;
  margin: 10px auto;
  padding: 15px;
  /* border: 1px solid black; */
}
.ongoing-top h1{
  color: white;
}
.ongoing-top p{
  color: white;
}
.ongoing-bottom{
  height: 70%;
  width: 100%;
  /* border: 1px solid black; */
}

.wrapper{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.carousel{
  /* max-width: 1200px; */
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 10px 0;
  /* border: 1px solid black; */

}
.carousel .card{
 
  height: 300px;
  width: 300px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  /* line-height: 100px; */
  font-size: 50px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  background-image: url("IMG/testi-bg.jpg");
  background-size: cover;
  /* padding-top: -40px; */
}
.carousel .card h3{
  /* margin-bottom: -10px;
  margin-top: -10px; */
  color: white;
  font-weight: lighter;
  font-size: larger;
  /* border: 1px solid white; */
  /* margin: -10px 0; */
}
.carousel .card p{
  color: wheat;
}
.carousel .card img{
  /* position: relative; 
   top: 50px; */
  /* height: 150px; */
  width: 100%;
  /* border: 1px solid white; */
/* margin: 0 auto; */
/* margin-top: 10px; */
/* margin: 0 10px */
}
.carousel .card .codehelp{
  /* display: flex;
  align-self: center; */
  /* justify-content: center; */
  position: relative;
  /* top: -10px; */
  left: -20px;
  height: 110px;
  width: 112%;
  /* text-align: center; */
}
.carousel .card .microsoft{
  margin-top: 0px;
}
.carousel .card .apple{
  height: 120px;
  width: 200px;
  margin: 0 auto;
}
.carousel .card .amazon{
  position: relative;
  top: 30px;
}
.owl-dots{
  text-align: center;
  margin-top: 10px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #0072bc!important;
}

/* ongoing sectin end  */

/* Modern web section start */
#modern {
  display: flex;
  height: 90%;
  width: 100%;
  /* border: 1px solid black; */
  padding: 10px;
  background-image: url("IMG/moder-bg.jpg");
  margin: 20px 0;
}

.modern-left {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(2, 200px);
  height: 100%;
  width: 50%;
  gap: 20px;
  /* border: 1px solid black; */
}

.modern-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.258) 0px 3px 8px;
  background-color: rgb(246, 240, 240);
}

.modern-card img {
  height: 50px;
  border-radius: 10px;
}

.modern-right {
  display: flex;
  flex-direction: column;
  row-gap: 20%;
  height: 100%;
  width: 50%;
  padding: 40px;
  /* border: 1px solid black; */
}

.modern-right .right-top {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 90%;
}
.modern-right .right-top h1{
  line-height: 60px;
}
.modern-right .right-top span {
  display: flex;
  justify-content: center;
  background-color: rgb(221, 216, 216);
  width: 130px;
  height: 25px;
  border-radius: 5px;
  margin-top: 10px;
}

.modern-right .right-top span a {
  display: flex;
  align-self: center;
  text-align: center;
}

/* Modern web section end */


 /* testimonial section start  */
 #testimonial{
  display: flex;
  height: 80%;
  width: 100%;
  background-image: url("IMG/testimonial-bg.jpg");
  background-size: cover;
  /* border: 1px solid black; */
  /* margin-top: 20px; */
 }
 .testi-left{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  /* border: 1px solid black; */
  /* background-color: rgb(233, 230, 230); */
 }
 .testi-carousel{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  /* padding: 20px; */
  overflow-y: hidden;
  /* background-color: #d1d2d4; */
  
}
.inner-shadow{

  position: absolute;
  height: 100%;
  width: 100%;
  /* border: 5px solid red; */
  box-shadow: 0 100px 40px -40px rgba(0,0,0,0.99) inset, 0 -100px 40px -40px rgba(0,0,0,0.99) inset;
}
.devider{
  height: 100%;
  width: 33.333%;
  /* border: 1px solid black; */
}
/* .testi-card{
display: flex;
flex-direction: column;
}
.testi-top img{
  height: 20px;
}
.testi-top{
  display: flex;
} */
.vertical-card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  height: 100%;
  width: 100%;
  padding: 10px;
  padding-top: 0;
  animation: anime-left-right 15s linear infinite;
  /* animation-play-state: paused; */
}
.card-container-middle{
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  width: 100%;
  padding: 10px;
  padding-top: 0;
  animation: anime-middle 15s linear infinite;
  /* animation-play-state: paused; */
}
.testi-card{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

  /* border: 1px solid rgb(244, 44, 44); */
  transform: rotateX(20deg);
  margin: 0 auto;
  padding: 15px;
}
.testi-top{
  display: flex;
  align-items: center;
  /* border: 1px solid rgb(244, 44, 44); */
  height: 60px;
  margin-bottom: 10px;
}
.testi-card img{
  
  width: 55px;
  height: 55px;
  margin-right: 10px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}

@keyframes anime-left-right{
  0%{
    transform: translateY(0%)
  }
  100%{
    transform: translateY(-100%)
  }
  
}
@keyframes anime-middle{
  0%{
    transform: translateY(-100%)
  }
  100%{
    transform: translateY(0%)
  }
}
 .testi-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-content: space-between; */
  row-gap: 70px;
  height: 100%;
  width: 30%;
  /* border: 1px solid black; */

 }
 .testi-right-top{
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  border-radius: 10px;
  /* border: 2px solid rgb(180, 239, 246); */
  color: white;
  text-align: center;
  background-color: rgba(22, 59, 63, 0.637);
  /* padding: 10px; */
  margin: 0 10px;
  margin-top: -15px;
 }
 .testi-right-top p{
  color: white;
 }
 .testi-right-top h3{
  font-size: 2vw;
 }
 .feedback{
  display: flex;
  text-align: center;
  column-gap: 20px;
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
 }
 .feedback span{
  font-size: small;
 }
 /* testimonial section end  */

 /* contact section start */
 #contact{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  background-image: url(IMG/contact-bg.jpg);
  background-size: cover;
  /* border: 1px solid black; */
  margin: 20px 0;
 }
 .contact h1{
  text-align: center;
  color: white;
 }
 .contact h2,label{
  color: white;
 }
 .contact p{
  color: white;
 }
 .contact span{
  color: white;
 }
 .contact-container{
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 95%;
  /* border: 1px solid black; */
 }
 .contact-left{
  display: flex;
  flex-direction: column;
  padding: 15px;
  row-gap: 20px;
  height: 95%;
  width: 40%;
  /* border: 1px solid black; */

 }
 .contact-link{
  display: flex;
  flex-direction: column;
  row-gap: -10px;
 }
 .contact-link a{
  height: 10px;
  /* border: 1px solid black; */

 }
 .contact-link a img{
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: -8px;
  background-color: #fff;
  /* padding: 2px; */
 }
 .contact-left p{
  width: 100%;
 }
 .contact-right{
  display: flex;
  justify-content: center;
  height: 95%;
  width: 40%;
  /* border: 1px solid black; */

 }
 .contact-right form{
  display: flex;
  flex-direction: column;
  padding: 15px;
  row-gap: 10px;
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
 }
 /* contact section end */

#footer {
  /* margin-top: 20px; */
  padding: 20px;
  background: linear-gradient(to top, rgb(9, 32, 63) 0%, rgb(83, 120, 149) 100%);
}
.footer p{
  color: rgba(184, 182, 182, 0.879);
  transition: 0.5s;
}
.footer2 p{
  color: rgb(62, 61, 61);
}
.footer p:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.social-media{
  display: flex;
  justify-content: center;
  column-gap: 20px;
  /* border: 1px solid black; */
  padding: 15px;
}
/* .social-media a{
height: 100%;
} */
.social-media a img{
  height: 20px;
}
.footer1 {
  display: flex;
  justify-content: space-between;
}

.footer2 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 5px;
  background-color: #bcbbbd;
}

.footer-left {
  display: flex;
  gap: 20px;
}

.footer-right {
  display: flex;
  gap: 20px;
}
.newletter-para{
  width: 300px;
}
.footer .col .email{
  /* height: 50px; */
  width: 300px;
  margin-top: 10px;
}
.btn-sub{
  width: 300px;
  height: 30px;
  margin-top: 3px;
}
.footer .col .btn-sub:hover{
  cursor: pointer;
  background-color: rgb(45, 39, 39);
}
